* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a {
    color: #333;
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

header {
    height: 75px;
    border-bottom: 1px solid #cecfcf;
    box-shadow: 0 0 5px #cecfcf inset;
}

header .content {
    width: 1000px;
    margin: 0 auto;

}

header .logo img {
    width: 130px;
    margin-top: 10px;
}

header .nav {
    margin-left: 50px;
}

header .nav .on a {
    color: #fe5341;
}

header .nav li {
    float: left;
    padding: 0 25px;
    line-height: 75px;
}

header .nav li a {
    transition: color 0.2s ease;
    font-size: 20px;
}

header .nav li a:hover {
    color: #fe5341;
}

header .search {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 200px;
    background: url(./img/search.png) no-repeat;
}

header .search:hover {
    transform: scale(1.1);
}

header .register {
    margin-top: 25px;
    margin-left: 25px;
    transition: all 0.15s linear;
    font-size: 16px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    color: #fe5341;
    border: 1px #fe5341 solid;
}

header .register:hover {
    background: #fe5341;
    color: #fff;
}

footer {
    background-color: #505050;
    color: #a3a3a3;
    padding: 0px 10px;
    padding-top: 40px;
    padding-bottom: 30px;
}

footer a {
    color: #a3a3a3;
}

footer .foot {
    width: 1000px;
    margin: 0 auto;
}

footer .foot>div {
    width: 150px;
    float: left;
    padding: 0 10px;
    font-size: 14px;
}

footer .foot>div:nth-of-type(1) img {
    width: 150px;
}

footer .foot>div:nth-of-type(2) {
    width: 140px;
}

footer .foot>div:nth-last-of-type(1) {
    width: 100px;
}

footer .foot>div:nth-of-type(2) img {
    display: block;
    margin-bottom: 30px;
}

footer .foot>div>span {
    font-size: 16px;
    color: #fff;
    display: block;
    margin-bottom: 30px;
}

footer .foot>div:nth-of-type(4) {
    width: 180px;
}

footer .foot>div:nth-of-type(4) a {
    width: 80px;
    display: inline-block;
}

footer .foot>div:nth-of-type(2) p:nth-of-type(1) {
    margin-bottom: 20px;
}

footer .banquan {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}